<!-- <table mat-table [dataSource]="persons" *ngIf="!selectedPerson">
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let person"> {{person.name}} </td>
    </ng-container>
    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let person"> {{person.cpf}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let person"> {{person.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let person"> {{person.email}} </td>
    </ng-container>
    <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef> CEP </th>
        <td mat-cell *matCellDef="let person"> {{person.cep}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let person"> {{person.state}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Cidade </th>
        <td mat-cell *matCellDef="let person"> {{person.city}} </td>
    </ng-container>
    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef> Rua </th>
        <td mat-cell *matCellDef="let person"> {{person.street}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let person">
            <p class="action" (click)="editPerson(person)">Editar</p>
            <p class="action" (click)="deletePerson(person)">Remover</p>
        </td>
    </ng-container>
</table> -->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Lista de Pessoas</h1>
        <button routerLink="/add-person" class="btn btn-success">Adicionar pessoa</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>CEP</th>
                            <th>Estado</th>
                            <th>Cidade</th>
                            <th>Rua</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons">
                            <td>{{ person.id }}</td>
                            <td>{{ person.name }}</td>
                            <td>{{ person.cpf }}</td>
                            <td>{{ person.phone }}</td>
                            <td>{{ person.email }}</td>
                            <td>{{ person.cep }}</td>
                            <td>{{ person.state }}</td>
                            <td>{{ person.city }}</td>
                            <td>{{ person.street }}</td>
                            <td>
                                <div class="d-flex">
                                    <a class="action mr-1" (click)="editPerson(person)">Editar</a> 
                                    <a class="action" (click)="deletePerson(person)">Remover</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>